@media (max-width: 1200px) {
  .container {
    padding: 0 120px;
  }
  .header {
    font-size: 40px !important;
  }

  .page-content__learn-more {
    font-weight: 600 !important;
  }

  .test__question {
    font-size: 32px !important;
    line-height: 39px !important;
    max-width: 680px;
    text-align: start !important;
  }

  .test__answer {
    font-size: 28px !important;
    line-height: 34px !important;
  }

  .page-content__result-content {
    flex-direction: column-reverse;
    align-items: center !important;
  }

  .page-content__description {
    padding-left: 0 !important;
    text-align: justify;
    max-width: 680px;
    padding-top: 20px !important;
  }
  .page-content__description small {
    max-width: 440px;
  }
  .page-content__img {
    max-width: 75% !important;
    max-height: 520px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  html {
    background: repeat-y url(../assets/images/test_tablet_bg.png) 0 0 / 100%
      auto !important;
  }
}

@media (max-width: 992px) {
  .page-content__result-content.d-sm-flex {
    display: flex !important;
  }
  .page-content__result-content:not(.d-sm-flex) small,
  .page-content__result-content:not(.d-sm-flex) .page-content__learn-more {
    display: none !important;
  }
  .container {
    padding: 0;
  }

  .test__question-container{
    min-height: 400px !important;
  }

  .page-content {
    padding: 0 32px;
    min-height: calc(100% - 48px);
    background: no-repeat url(../assets/images/test_bg_sm.png) bottom 0 left 0;
  }

  .page-content__learn-more {
    padding: 8px 46px !important;
  }

  .page-content__img {
    max-width: 100% !important;
    max-height: 240px;
  }

  .page-content__description {
    font-size: 12px !important;
    padding-top: 0 !important;
  }

  .page-content__result-name {
    font-size: 24px !important;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .page-content__result-header {
    font-size: 18px !important;
    margin-bottom: 18px !important;
  }

  .page-content__description small {
    font-size: 10px !important;
    text-align: center;
  }

  .page-content_testing {
    padding-top: 172px !important;
  }

  .test__question {
    font-size: 18px !important;
    line-height: 22px !important;
  }

  .test__answer {
    font-size: 16px !important;
    line-height: 19px !important;
  }

  .page-content__page-point {
    margin-right: 16px !important;
  }

  .header {
    font-size: 22px !important;
    line-height: 116.02% !important;
    margin-bottom: 76px;
  }

  .header br {
    display: none;
  }

  .page-content_loading .test__loading img {
    height: 350px !important;
  }

  .test__loading:after {
    font-size: 16px !important;
    width: 100px !important;
  }

  .page-content_finished {
    background: url(../assets/images/test_finish_bg.png) bottom no-repeat;
  }
}
