@media (max-width: 1200px) {
  .main-menu {
    height: 60px !important;
    max-width: 540px;
    margin: 0 auto;
  }

  .main-menu__menu-item {
    margin-left: 44px !important;
    font-size: 18px !important;

    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    color: black !important;
  }
  .main-menu__menu-item:hover{
    background-color: transparent !important;
  }
}

@media (max-width: 767px) {
  html {
    background: none !important;
  }
  
  .main-menu {
    background-color: #21a36c !important;
    width: 100% !important;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    padding: 8px 32px;
    height: 48px !important;
    position: relative;
    z-index: 100;
    max-width: unset;
  }

  .main-menu_opened {
    justify-content: flex-start !important;
  }

  .main-menu_opened .main-menu__menu-items {
    display: flex !important;
    background-color: #21a36c;
    width: 100%;
    position: absolute;
    top: calc(100% - 1px);
    padding-left: 16px;

    margin-right: 0 !important;
    padding-bottom: 40px;
  }
  .main-menu__menu-item {
    color: white !important;
    background: transparent !important;
  }
  .main-menu__logo:not(.main-menu__logo_sm) {
    display: none;
  }
  .main-menu__logo_sm {
    display: block !important;
  }

  .main-menu__menu-items {
    display: none !important;
    flex-direction: column;
  }

  .main-menu .main-menu__menu-items .main-menu__menu-item {
    margin-left: 0 !important;
  }

  .container {
    max-width: 100% !important;
  }

  .main-menu__burger {
    display: block !important;
    position: absolute;
    left: 16px;
    top: 14px;
  }

  .main-header {
    font-size: 52px !important;
  }

  .header-md {
    font-size: 28px !important;
  }
}

@media (max-width: 576px) {
  .main-header {
    font-size: 22px !important;
    line-height: 29.33px !important;
  }

  .header-md {
    font-size: 12px !important;
    margin-top: 24px !important;
  }
}
