html {
  height: 100%;
  background-image: url(./assets/images/main_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .container,
  body {
    height: 100%;
  }

  .container {
    padding: 0 110px;
  }
  html {
    background-image: url(./assets/images/main_bg_md.png);
  }

  .main-header {
    margin-top: 0 !important;
    font-size: 52px;
    line-height: 69px;
  }

  .page-content {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header-md {
    margin-bottom: 315px;
    font-size: 28px;
    line-height: 34px;
    margin-top: 0;
    color: #423223;
    font-weight: bold;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0;
  }
  html {
    background-image: url(./assets/images/main_bg_md.png) !important;
    background-size: 100% auto !important;
    background-position: bottom !important;
    background-repeat: no-repeat !important;
  }
  .page-content {
    height: calc(100% - 48px);
  }
  .main-header {
    font-size: 40px !important;
    line-height: 47px !important;
  }
  .header-md {
    margin-bottom: 100px;
    margin-top: 0 !important;
    font-size: 20px !important;
    line-height: 27px !important;
  }
}

@media (max-width: 576px) {
  html {
    background-image: url(./assets/images/main_bg_sm.png) !important;
    background-size: 100% auto !important;
    background-position: bottom !important;
    background-repeat: no-repeat !important;
  }
  .page-content {
    height: calc(100% - 48px);
  }
  .main-header {
    margin-bottom: 28px !important;
    font-size: 20px !important;
    line-height: 27px !important;
  }
  .header-md {
    margin-bottom: 100px;
    margin-top: 0 !important;
    font-size: 11px !important;
    line-height: 13px !important;
  }
}
