@import './adaptive.css';

html,
a,
button {
  cursor: url(./assets/images/cursor.svg), auto !important;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-width: 370px;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.main-menu__burger {
  display: none;
}

.main-menu {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 200;
}

.main-menu .main-menu__logo {
  height: 100%;
}

.main-menu__logo_sm {
  display: none;
}

.main-menu .main-menu__menu-items {
  display: flex;
  justify-content: flex-end;
  margin-right: -16px;
}

.main-menu .main-menu__menu-items .main-menu__menu-item {
  margin-left: 64px;
  padding: 16px;
  font-family: Inter;
  font-size: 20px;
  line-height: 24px;
  border-radius: 12px;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}

.main-menu .main-menu__menu-items .main-menu__menu-item:hover {
  background: #21a36c;
  color: white;
}

.main-menu .main-menu__menu-items .main-menu__menu-item:hover span::after {
  display: none;
}

.main-menu .main-menu__menu-items .main-menu__menu-item_active span {
  position: relative;
}

.main-menu .main-menu__menu-items .main-menu__menu-item_active span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffc700;
  border-radius: 8px;
  top: 100%;
  left: 0;
}

.main-header {
  margin-top: 110px;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 64px;
  line-height: 85px;
}

.main-header_centered {
  text-align: center;
}

.header-md {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 37px;
}

.page-content .page-content__learn-more {
  border: 1px solid #21a36c;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  box-shadow: none;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  text-transform: uppercase;
  padding: 14px 70px;
  border-radius: 12px;
}

.page-content .page-content__learn-more:hover {
  color: #fff;
  background-color: #21a36c;
}

.page-content .page-content__page-points {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: calc(100% + 100px);
  margin-bottom: -20px;
  max-height: 192px;
}

.page-content .page-content__page-point {
  margin-bottom: 20px;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.page-content .page-content__page-point:after {
  content: '';
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: block;
  background-color: #bdbcbc;
}

.page-content .page-content__page-point.page-content__page-point_hidden {
  opacity: 0;
  position: absolute;
  /* display: none; */
}

.page-content .page-content__page-point.page-content__page-point_active {
  border-color: #21a36c;
}

.page-content .page-content__page-point.page-content__page-point_active::after {
  background-color: #000;
}

.steps {
  display: none;
  margin-bottom: 28px;
}

.steps__point {
  border-radius: 50%;
  border: 1px solid #bdbcbc;
  height: 8px;
  width: 8px;
  margin: 0 4px;
}

.steps__point_active {
  background-color: #21a36c;
  border-color: #21a36c;
  height: 10px;
  width: 10px;
}
