@media (max-width: 1200px) {
  .page-content .page-content__page-points {
    right: unset;
    left: calc(100% + 12px);
  }

  .page-content_rowed {
    flex-direction: column;
    padding-top: 30px;
  }

  .page-content__col .page-content__main-img {
    max-width: 716px;
    align-self: center;
  }

  .page-content__col:nth-of-type(1) {
    width: 500px !important;
    max-width: 500px !important;
  }
  .page-content__col:last-child {
    width: 100%;
    justify-content: center;
    padding-top: 20px;
  }
  .page-content .page-content__page-points {
    display: none;
  }
}

@media (max-width: 1200px) and (min-width: 768px) {
  .bg {
    background: repeat-y url(../assets/images/reptiles_tablet_bg.png) 0 0 / 100% auto !important;
  }
  .page-content__col .page-content__main-img {
    max-height: 400px !important;
  }
}

@media (max-width: 767px) {
  .bg {
    display: none;
  }
  .page-content {
    padding: 0 32px;
    justify-content: flex-start !important;
    height: calc(100vh - 48px) !important;
    overflow: hidden;
  }

  .page-content__public-name {
    font-size: 10px !important;
    line-height: 12px !important;
  }
  .page-content__aria {
    font-size: 16px !important;
    line-height: 19px !important;
  }
  .page-content__main-img {
    max-height: 510px !important;
    width: unset !important;
    max-width: 100% !important;
  }
  .main-header {
    font-size: 32px;
    color: #423223;
    margin-bottom: 16px !important;
  }

  .page-content__description {
    font-size: 14px !important;
    max-width: 100%;
    margin-bottom: 28px;
  }

  .page-content_rowed {
    transition: 0s !important;
    width: calc(100% - 64px) !important;
    padding-top: 10px;
    position: static !important;
    width: 100% !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
    min-height: calc(100vh - 48px);
  }

  .page-content__col:nth-of-type(1) {
    width: 100%;
    max-width: 100% !important;
    min-width: unset !important;
  }

  .page-content__learn-more {
    align-self: center;
  }
}
