@import './adaptive.css';

html {
  background: repeat-y url(../assets/images/beared_dragon_bg.png) 0 0 / 100%
    auto;
}
body,
.container {
  height: 100vh;
}
.container {
  max-width: 70%;
}

body {
  overflow: hidden;
}

.page-content {
  position: relative;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.page-content_ready .page-content_rowed {
  transition: 1s;
}
.page-content_rowed {
  display: flex;
  align-items: center;
  flex: 1;
  position: absolute;
  width: 100%;
}

.page-content_prev {
  opacity: 0;

  transform: translateY(-100%);
}

.page-content_active {
  opacity: 1;
  transform: translateY(0);
}

.page-content_next {
  opacity: 0;
  transform: translateY(100%);
}

.page-content__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-content__col:nth-of-type(1) {
  width: 412px;
  align-items: flex-start;
  min-width: 350px;
}

.main-header {
  margin-top: 0;
  line-height: 100%;
  margin-bottom: 32px;
}

.page-content .page-content__col .page-content__public-name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 4px;
}

.page-content .page-content__col .page-content__public-name:after {
  content: '';
  height: 2px;
  width: 64px;
  position: absolute;
  left: calc(100% + 12px);
  display: block;
  background-color: #000;
}

.page-content__col:last-child {
  flex-grow: 1;
  align-items: flex-end;
}

.page-content__col .page-content__main-img {
  width: 100%;
  max-height: 750px;
}

.page-content__col .page-content__aria {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  /* Голубозеленый */

  color: #21a36c;
  margin-bottom: 20px;
}

.page-content .page-content__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 143%;
  margin-top: 0;
  margin-bottom: 40px;
}
